{% macro intro() %}
<div class="split-intro">
    <h1> {{ section.title }}</h1>
    <span class="tagline"><strong class="bold-text">{{ section.description }}</strong></span>
</div>
{% endmacro intro %}
